### Libraries

In [1]:
import pandas as pd

### Premier League (ID = 1)

In [2]:
premierLeagueRaw = pd.read_csv('fixtures_Premier_League_2023.csv')

In [6]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
premierLeagueFiltered = premierLeagueRaw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
premierLeagueFiltered['fixture.date'] = pd.to_datetime(premierLeagueFiltered['fixture.date'])
premierLeagueFiltered['fixture.date'] = premierLeagueFiltered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
premierLeagueFiltered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently Premier League) and force to be an integer code (Premier League is 1) 
premierLeagueFiltered['competitionID'] = (premierLeagueFiltered['competitionID'].replace('Premier League', 1))
premierLeagueFiltered['competitionID'] = (premierLeagueFiltered['competitionID'].astype(int))

# 5) Rename round and force to be a simple integer.
premierLeagueFiltered['round'] = (premierLeagueFiltered['round'].str.extract(r'(\d+)', expand=False).astype(int))

In [7]:
premierLeagueFiltered.head()

   competitionID        date     homeTeam           awayTeam  round
0              1  2023-08-11      Burnley    Manchester City      1
1              1  2023-08-12      Arsenal  Nottingham Forest      1
2              1  2023-08-12  Bournemouth           West Ham      1
3              1  2023-08-12      Everton             Fulham      1
4              1  2023-08-12     Brighton              Luton      1

In [8]:
len(premierLeagueFiltered)

380

### Championship (ID = 2)

In [10]:
championshipRaw = pd.read_csv('fixtures_Championship_2023.csv')

In [11]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
championshipFiltered = championshipRaw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
championshipFiltered['fixture.date'] = pd.to_datetime(championshipFiltered['fixture.date'])
championshipFiltered['fixture.date'] = championshipFiltered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
championshipFiltered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently Championship) and force to be an integer code (Championship is 2) 
championshipFiltered['competitionID'] = (championshipFiltered['competitionID'].replace('Championship', 2))
championshipFiltered['competitionID'] = (championshipFiltered['competitionID'].astype(int))

# 5) Rename round and force to be a simple integer.
# Edge cases 'Promotion Play-offs - Semi-finals' manually renumbered to '48' and 'Promotion Play-offs - Final' to '49'
championshipFiltered2 = championshipFiltered.copy()
edge_map = {
    'Promotion Play-offs - Semi-finals': '47',
    'Promotion Play-offs - Final':        '48'
}
championshipFiltered2['round'] = (championshipFiltered2['round'].replace(edge_map).str.extract(r'(\d+)', expand=False).astype(int))

In [12]:
championshipFiltered2.head()

   competitionID        date             homeTeam     awayTeam  round
0              2  2023-08-04  Sheffield Wednesday  Southampton      1
1              2  2023-08-05              Watford          QPR      1
2              2  2023-08-05         Bristol City      Preston      1
3              2  2023-08-05            Blackburn    West Brom      1
4              2  2023-08-05        Middlesbrough     Millwall      1

In [13]:
len(championshipFiltered2)

557

### League 1 (ID = 3)

In [14]:
league1Raw = pd.read_csv('fixtures_League_1_2023.csv')

In [15]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
league1Filtered = league1Raw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
league1Filtered['fixture.date'] = pd.to_datetime(league1Filtered['fixture.date'])
league1Filtered['fixture.date'] = league1Filtered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
league1Filtered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently League 1) and force to be an integer code (League 1 is 3) 
league1Filtered['competitionID'] = (league1Filtered['competitionID'].replace('League 1', 3))
league1Filtered['competitionID'] = (league1Filtered['competitionID'].astype(int))

# 5) Rename round and force to be a simple integer.
# Edge cases 'Promotion Play-offs - Semi-finals' manually renumbered to '48' and 'Promotion Play-offs - Final' to '49'
league1Filtered2 = league1Filtered.copy()
edge_map = {
    'Promotion Play-offs - Semi-finals': '47',
    'Promotion Play-offs - Final':        '48'
}
league1Filtered2['round'] = (league1Filtered2['round'].replace(edge_map).str.extract(r'(\d+)', expand=False).astype(int))

In [16]:
league1Filtered2.head()

   competitionID        date  homeTeam       awayTeam  round
0              3  2023-08-05   Reading   Peterborough      1
1              3  2023-08-05    Bolton        Lincoln      1
2              3  2023-08-05     Derby          Wigan      1
3              3  2023-08-05  Barnsley      Port Vale      1
4              3  2023-08-05  Charlton  Leyton Orient      1

In [17]:
len(league1Filtered2)

557

### League 2 (ID = 4)

In [18]:
league2Raw = pd.read_csv('fixtures_League_2_2023.csv')

In [19]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
league2Filtered = league2Raw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
league2Filtered['fixture.date'] = pd.to_datetime(league2Filtered['fixture.date'])
league2Filtered['fixture.date'] = league2Filtered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
league2Filtered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently League 2) and force to be an integer code (League 2 is 4) 
league2Filtered['competitionID'] = (league2Filtered['competitionID'].replace('League 2', 4))
league2Filtered['competitionID'] = (league2Filtered['competitionID'].astype(int))

# 5) Rename round and force to be a simple integer.
# Edge cases 'Promotion Play-offs - Semi-finals' manually renumbered to '48' and 'Promotion Play-offs - Final' to '49'
league2Filtered2 = league2Filtered.copy()
edge_map = {
    'Promotion Play-offs - Semi-finals': '47',
    'Promotion Play-offs - Final':        '48'
}
league2Filtered2['round'] = (league2Filtered2['round'].replace(edge_map).str.extract(r'(\d+)', expand=False).astype(int))

In [20]:
league2Filtered2.head()

   competitionID        date       homeTeam        awayTeam  round
0              4  2023-08-05      Doncaster  Harrogate Town      1
1              4  2023-08-05  Accrington ST  Newport County      1
2              4  2023-08-05   Crawley Town        Bradford      1
3              4  2023-08-05          Crewe  Mansfield Town      1
4              4  2023-08-05        Grimsby   AFC Wimbledon      1

In [21]:
len(league2Filtered2)

557

### National League (ID=5)

In [22]:
nationalRaw = pd.read_csv('fixtures_National_League_2023.csv')

In [23]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
nationalFiltered = nationalRaw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
nationalFiltered['fixture.date'] = pd.to_datetime(nationalFiltered['fixture.date'])
nationalFiltered['fixture.date'] = nationalFiltered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
nationalFiltered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently National League) and force to be an integer code (National League is 5) 
nationalFiltered['competitionID'] = (nationalFiltered['competitionID'].replace('National League', 5))
nationalFiltered['competitionID'] = (nationalFiltered['competitionID'].astype(int))

# 5) Rename round and force to be a simple integer.
# Edge cases 'Promotion Play-offs - Semi-finals' manually renumbered to '48' and 'Promotion Play-offs - Final' to '49'
nationalFiltered2 = nationalFiltered.copy()
edge_map = {
    'Promotion Play-offs - Qualifying Round' : '47',
    'Promotion Play-offs - Semi-finals': '48',
    'Promotion Play-offs - Final':        '49'
}
nationalFiltered2['round'] = (nationalFiltered2['round'].replace(edge_map).str.extract(r'(\d+)', expand=False).astype(int))

In [24]:
nationalFiltered2.head()

   competitionID        date        homeTeam           awayTeam  round
0              5  2024-04-23  Solihull Moors          Gateshead     47
1              5  2023-08-05        Southend             Oldham      1
2              5  2023-08-05    Chesterfield  Dorking Wanderers      1
3              5  2023-08-05          Barnet         Hartlepool      1
4              5  2023-08-05  Aldershot Town        Oxford City      1

In [25]:
len(nationalFiltered2)

557

### League Cup (ID=6)

In [26]:
leagueCupRaw = pd.read_csv('fixtures_League_Cup_2023.csv')

In [27]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
leagueCupFiltered = leagueCupRaw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
leagueCupFiltered['fixture.date'] = pd.to_datetime(leagueCupFiltered['fixture.date'])
leagueCupFiltered['fixture.date'] = leagueCupFiltered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
leagueCupFiltered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently League Cup) and force to be an integer code (League Cup is 6) 
leagueCupFiltered['competitionID'] = (leagueCupFiltered['competitionID'].replace('League Cup', 6))
leagueCupFiltered['competitionID'] = (leagueCupFiltered['competitionID'].astype(int))

# 5) Rename round and force to be a simple integer.
# All are edge cases and manually renumbered
leagueCupFiltered2 = leagueCupFiltered.copy()
edge_map = {
    '1st Round' : '1',
    '2nd Round' : '2',
    '3rd Round' : '3',
    'Round of 16': '4',
    'Quarter-finals': '5',
    'Semi-finals': '6',
    'Final':        '7'
}
leagueCupFiltered2['round'] = (leagueCupFiltered2['round'].replace(edge_map).astype(int))

In [28]:
leagueCupFiltered2.head()

   competitionID        date        homeTeam       awayTeam  round
0              6  2023-08-08    Huddersfield  Middlesbrough      1
1              6  2023-08-08         Swansea    Northampton      1
2              6  2023-08-08    Peterborough   Swindon Town      1
3              6  2023-08-08  Newport County       Charlton      1
4              6  2023-08-08  Mansfield Town        Grimsby      1

In [29]:
len(leagueCupFiltered)

93

### FA Cup (ID=7)

In [30]:
faCupRaw = pd.read_csv('fixtures_FA_Cup_2023.csv')

In [32]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
faCupFiltered = faCupRaw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
faCupFiltered['fixture.date'] = pd.to_datetime(faCupFiltered['fixture.date'])
faCupFiltered['fixture.date'] = faCupFiltered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
faCupFiltered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently FA Cup) and force to be an integer code (FA Cup is 7) 
faCupFiltered['competitionID'] = (faCupFiltered['competitionID'].replace('FA Cup', 7))
faCupFiltered['competitionID'] = (faCupFiltered['competitionID'].astype(int))

# 5)  Remove unnecessary rounds (only keep Round 1 onwards)
allowed = [
    '1st Round',
    '2nd Round',
    '3rd Round',
    '4th Round',
    '5th Round',
    'Quarter-finals',
    'Semi-finals',
    'Final'
]
faCupFiltered2 = faCupFiltered[faCupFiltered['round'].isin(allowed)].copy()

# 6) Rename round and force to be a simple integer.
# All are edge cases and manually renumbered
faCupFiltered3 = faCupFiltered2.copy()
edge_map = {
    '1st Round' : '1',
    '2nd Round' : '2',
    '3rd Round' : '3',
    '4th Round' : '4',
    '5th Round' : '5',
    'Quarter-finals': '6',
    'Semi-finals': '7',
    'Final':        '8'
}
faCupFiltered3['round'] = (faCupFiltered3['round'].replace(edge_map).astype(int))

In [33]:
faCupFiltered3.head()

     competitionID        date        homeTeam            awayTeam  round
730              7  2023-11-03        Barnsley             Horsham      1
731              7  2023-11-03  Sheppey United             Walsall      1
732              7  2023-11-04     Northampton              Barrow      1
733              7  2023-11-04         Reading  Milton Keynes Dons      1
734              7  2023-11-04          Bolton      Solihull Moors      1

In [34]:
len(faCupFiltered3)

123

### Europa League (ID=8)

In [35]:
europaLeagueRaw = pd.read_csv('fixtures_Europa_League_2023.csv')

In [36]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
europaLeagueFiltered = europaLeagueRaw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
europaLeagueFiltered['fixture.date'] = pd.to_datetime(europaLeagueFiltered['fixture.date'])
europaLeagueFiltered['fixture.date'] = europaLeagueFiltered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
europaLeagueFiltered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently Europa League) and force to be an integer code (Europa League is 8) 
europaLeagueFiltered['competitionID'] = (europaLeagueFiltered['competitionID'].replace('Europa League', 8))
europaLeagueFiltered['competitionID'] = (europaLeagueFiltered['competitionID'].astype(int))

# 5)  Remove unnecessary rounds (only keep Round 1 onwards)
allowed = [
    'Group Stage - 1',
    'Group Stage - 2',
    'Group Stage - 3',
    'Group Stage - 4',
    'Group Stage - 5',
    'Group Stage - 6',
    'Knockout Round Play-offs',
    'Round of 16',
    'Quarter-finals',
    'Semi-finals',
    'Final'
]
europaLeagueFiltered2 = europaLeagueFiltered[europaLeagueFiltered['round'].isin(allowed)].copy()

# 6) Rename round and force to be a simple integer.
# All are edge cases and manually renumbered
europaLeagueFiltered3 = europaLeagueFiltered2.copy()
edge_map = {
    'Group Stage - 1' : '1',
    'Group Stage - 2' : '2',
    'Group Stage - 3' : '3',
    'Group Stage - 4' : '4',
    'Group Stage - 5' : '5',
    'Group Stage - 6' : '6',
    'Knockout Round Play-offs' : '7',
    'Round of 16' : '8',
    'Quarter-finals': '9',
    'Semi-finals': '10',
    'Final':        '11'
}
europaLeagueFiltered3['round'] = (europaLeagueFiltered3['round'].replace(edge_map).astype(int))

In [37]:
europaLeagueFiltered3.head()

    competitionID        date          homeTeam       awayTeam  round
34              8  2023-09-21            Rennes  Maccabi Haifa      1
35              8  2023-09-21  Bayer Leverkusen      BK Hacken      1
36              8  2023-09-21           Qarabag          Molde      1
37              8  2023-09-21  Sheriff Tiraspol        AS Roma      1
38              8  2023-09-21     Panathinaikos     Villarreal      1

In [38]:
len(europaLeagueFiltered3)

141

### Champions League (ID=9)

In [39]:
championsLeagueRaw = pd.read_csv('fixtures_Champions_League_2023.csv')

In [40]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
championsLeagueFiltered = championsLeagueRaw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
championsLeagueFiltered['fixture.date'] = pd.to_datetime(championsLeagueFiltered['fixture.date'])
championsLeagueFiltered['fixture.date'] = championsLeagueFiltered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
championsLeagueFiltered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently Champions League) and force to be an integer code (Champions League is 9) 
championsLeagueFiltered['competitionID'] = (championsLeagueFiltered['competitionID'].replace('Champions League', 9))
championsLeagueFiltered['competitionID'] = (championsLeagueFiltered['competitionID'].astype(int))

# 5) Remove unnecessary rounds (only keep Group phase onwards)
to_remove = ['Preliminary Round', '1st Qualifying Round', '2nd Qualifying Round', '3rd Qualifying Round', 'Play-offs']
championsLeagueFiltered2 = championsLeagueFiltered[~championsLeagueFiltered['round'].isin(to_remove)].copy()

# 6) Rename round and force to be a simple integer.
# Edge cases 'Promotion Play-offs - Semi-finals' manually renumbered to '48' and 'Promotion Play-offs - Final' to '49'
championsLeagueFiltered3 = championsLeagueFiltered2.copy()
edge_map = {
    'Round of 16' : '7',
    'Quarter-finals': '8',
    'Semi-finals': '9',
    'Final': '10'
}
championsLeagueFiltered3['round'] = (championsLeagueFiltered3['round'].replace(edge_map))
championsLeagueFiltered3['round'] = (championsLeagueFiltered3['round'].str.extract(r'(\d+)$', expand=False).astype(int))

In [41]:
championsLeagueFiltered3.head()

    competitionID        date             homeTeam           awayTeam  round
89              9  2023-09-19             AC Milan          Newcastle      1
90              9  2023-09-19       BSC Young Boys         RB Leipzig      1
91              9  2023-09-19      Manchester City   FK Crvena Zvezda      1
92              9  2023-09-19  Paris Saint Germain  Borussia Dortmund      1
93              9  2023-09-19            Feyenoord             Celtic      1

In [42]:
len(championsLeagueFiltered3)

125

### Community Shield (ID=10)

In [43]:
communityRaw = pd.read_csv('fixtures_Community_Shield_2023.csv')

In [44]:
# 1) Keep only the columns we want, and make an explicit copy to avoid SettingWithCopyWarning
keep_cols = [
    'competition_name',
    'fixture.date',
    'teams.home.name',
    'teams.away.name',
    'league.round'
    # …add any others here…
]
communityFiltered = communityRaw[keep_cols].copy()

# 2) Parse the 'fixture.date' column as a datetime
communityFiltered['fixture.date'] = pd.to_datetime(communityFiltered['fixture.date'])
communityFiltered['fixture.date'] = communityFiltered['fixture.date'].dt.strftime('%Y-%m-%d')

# 3) Rename Headers
communityFiltered.rename(columns={
    'competition_name':  'competitionID',
    'fixture.date':      'date',
    'teams.home.name':   'homeTeam',
    'teams.away.name':   'awayTeam',
    'league.round':      'round'
}, inplace=True)

# 4) Rename competition (currently Community Shield) and force to be an integer code (Community Shield is 10) 
communityFiltered['competitionID'] = (communityFiltered['competitionID'].replace('Community Shield', 10))
communityFiltered['competitionID'] = (communityFiltered['competitionID'].astype(int))

# 5) Rename round and force to be a simple integer.
# Edge cases 'Final' to '1'
communityFiltered2 = communityFiltered.copy()
edge_map = {
   'Final': '1'
}
communityFiltered2['round'] = (communityFiltered2['round'].replace(edge_map))

In [45]:
communityFiltered2.head()

   competitionID        date homeTeam         awayTeam round
0             10  2023-08-06  Arsenal  Manchester City     1

In [46]:
len(communityFiltered2)

1

### Build Complete Fixture Table

In [47]:
allFixtures = pd.concat([
    premierLeagueFiltered,
    championshipFiltered2,
    league1Filtered2,
    league2Filtered2,
    nationalFiltered2,
    leagueCupFiltered,
    faCupFiltered3,
    europaLeagueFiltered3,
    championsLeagueFiltered3,
    communityFiltered2
], ignore_index=True)

In [48]:
# 1)  Add useful columns to the end of the table
allFixtures['homeGoals'] = pd.Series([pd.NA] * len(allFixtures), dtype='Int64')
allFixtures['awayGoals'] = pd.Series([pd.NA] * len(allFixtures), dtype='Int64')
allFixtures['played'] = False  # Boolean column set to False

#2)  Switch competition and date
cols = allFixtures.columns.tolist()
cols.remove('date')
cols.insert(0, 'date')
allFixtures = allFixtures[cols]

#3)  Sort the table based on date
allFixtures = allFixtures.sort_values(by='date', ascending=True).reset_index(drop=True)

#4) Add a dayCounter at the start of the table starting at 1 and incrementing by 1 for each unique date
allFixtures['dayCounter'] = allFixtures['date'].rank(method='dense').astype(int)
cols = ['dayCounter'] + [col for col in allFixtures.columns if col != 'dayCounter']
allFixtures = allFixtures[cols]

In [49]:
allFixtures.head()

,dayCounter,date,competitionID,homeTeam,awayTeam,round,homeGoals,awayGoals,played
0,1,2023-08-04,2,Sheffield Wednesday,Southampton,1,<NA>,<NA>,False
1,2,2023-08-05,4,Accrington ST,Newport County,1,<NA>,<NA>,False
2,2,2023-08-05,4,Crawley Town,Bradford,1,<NA>,<NA>,False
3,2,2023-08-05,4,Crewe,Mansfield Town,1,<NA>,<NA>,False
4,2,2023-08-05,4,Grimsby,AFC Wimbledon,1,<NA>,<NA>,False

### Build Competition Table

In [50]:
competition_names = [
    'Premier League',
    'Championship',
    'League One',
    'League Two',
    'National League',
    'League Cup',
    'FA Cup',
    'Europa League',
    'Champions League',
    'Community Shield'
]

competitionTable = pd.DataFrame({
    'competitionID': range(1, 11),
    'competitionName': competition_names
})

In [51]:
competitionTable.tail()

   competitionID   competitionName
5              6        League Cup
6              7            FA Cup
7              8     Europa League
8              9  Champions League
9             10  Community Shield

### Build Team Table

In [58]:
# Step 1: Combine teams and keep associated competitionID
teams_home = allFixtures[['competitionID', 'homeTeam']].rename(columns={'homeTeam': 'teamName'})
teams_away = allFixtures[['competitionID', 'awayTeam']].rename(columns={'awayTeam': 'teamName'})
teams_combined = pd.concat([teams_home, teams_away])

# Step 2: Keep the lowest competitionID per team (preserves priority)
teams_sorted = teams_combined.sort_values(by=['teamName', 'competitionID'])
teams_deduped = teams_sorted.drop_duplicates(subset='teamName', keep='first')

# Step 3: Assign teamID based on competition priority and alphabetical within comp
teams_deduped = teams_deduped.sort_values(by=['competitionID', 'teamName']).reset_index(drop=True)
teams_deduped['teamID'] = range(1, len(teams_deduped) + 1)

# Step 4: Create teamTable
teamTable = teams_deduped[['teamID', 'teamName']]

In [59]:
teamTable.head()

   teamID     teamName
0       1      Arsenal
1       2  Aston Villa
2       3  Bournemouth
3       4    Brentford
4       5     Brighton

In [72]:
teamTable.iloc[116:140]

     teamID              teamName
116     117         Alfreton Town
117     118        Bracknell Town
118     119        Chesham United
119     120               Chester
120     121        Cray Valley PM
121     122         Curzon Ashton
122     123              Hereford
123     124               Horsham
124     125         Maidstone Utd
125     126                Marine
126     127              Ramsgate
127     128  Scarborough Athletic
128     129        Sheppey United
129     130           Slough Town
130     131           Whitby Town
131     132          Worksop Town
132     133              Worthing
133     134           Yeovil Town
134     135              AC Milan
135     136         AEK Athens FC
136     137               AS Roma
137     138                  Ajax
138     139                  Aris
139     140              Atalanta

### Update Fixtures with teamIDs

In [73]:
# Step 5: Map names to IDs in allFixtures
team_name_to_id = dict(zip(teamTable['teamName'], teamTable['teamID']))
fixtureTable = allFixtures
fixtureTable['homeTeam'] = fixtureTable['homeTeam'].map(team_name_to_id)
fixtureTable['awayTeam'] = fixtureTable['awayTeam'].map(team_name_to_id)

In [74]:
fixtureTable.head()

,dayCounter,date,competitionID,homeTeam,awayTeam,round,homeGoals,awayGoals,played
0,1,2023-08-04,2,38,39,1,<NA>,<NA>,False
1,2,2023-08-05,4,70,84,1,<NA>,<NA>,False
2,2,2023-08-05,4,74,72,1,<NA>,<NA>,False
3,2,2023-08-05,4,75,81,1,<NA>,<NA>,False
4,2,2023-08-05,4,79,69,1,<NA>,<NA>,False